<% if current_trips %>
  <% current_trips.each do |trip| %>
    <div class="row my-4">
      <div class="col-lg-8 ">
        <% if trip.image.present? %>
          <%= image_tag(trip.image_url.to_s, alt: 'travel-the-world', class: "img-fluid rounded") %>
        <% else %>
          <%= image_tag('https://s3.amazonaws.com/travel-hero/uploads/stock-trip-2.jpeg', alt: 'travel-the-world', class: "img-fluid rounded") %>
        <% end %>
      </div>
      <div class="col-lg-4">
        <h1><%= trip.name %></h1>
        <p>
          From: <%= trip.formatted_start_date %>
        </p>
        <p>
          Until: <%= trip.formatted_end_date %>
        </p>
        <%= link_to 'Show trip', trip_path(trip), class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  <% end %>
<% end %>
