<header>
  <div class="row jumbotron">
    <div class="col-md-8">
      <% if @trip.image %>
        <%= image_tag(@trip.image_url.to_s, alt: 'travel-the-world', class: "img-fluid rounded") %>
      <% else %>
        <%= image_tag('https://s3.amazonaws.com/travel-hero/uploads/stock-trip-2.jpeg', alt: 'travel-the-world', class: "img-fluid rounded") %>
      <% end %>
      <h1 class="display-3"><%= @trip.name %></h1>
      <p class="lead">
        <%= trip.formatted_start_date %> </br>
        <%= trip.formatted_end_date %> </br>
        Total cost: <%=  @trip.cost %> $
      </p>
      <%= link_to 'Edit', edit_trip_path(@trip), class: "btn btn-primary btn-lg" %>
      <%= link_to 'Delete', @trip, method: :delete, class: "btn btn-danger btn-lg" %>
      <%= link_to 'Back', trips_path, class: "btn btn-info btn-lg" %>
    </div>
    <div class="col-md-4">
        <h4 class="display-4">Invite someone!</h4>
          <%= simple_form_for [@trip, UserTrip.new] do |f| %>
            <%= f. input :email, placeholder: 'user@domain.com', required: true %>
            <%= f.button :submit, "Invite", class: "btn btn-secondary" %>
          <% end %>
        <hr class="my-4">
        <h4 class="display-4">Users:</h4>
          <% @trip.users.each do |user| %>
            <div><%= user.email %></div>
          <% end %>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-md-4">
    <%= link_to new_trip_place_path(@trip), class: "btn btn-success btn-block" do %>
      <div class="flex-center add-trip-text">
        <%= icon('fas', 'plus-square') %>
      </div>
      <div class="smaller-text">
        Add place
      </div>
    <% end %>
  </div>
  <% places.each do |place| %>
    <div class="col-md-4">
      <div class="card mb-4" >
        <%= link_to trip_place_path(@trip, place) do %>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                <h3 class="card-title"><%= place.name %></h3>
                <span class="text"><%= place.formatted_start_date %> ---
                <%= place.formatted_end_date %></span>
                </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- <%= icon('fas', 'plane') %>
<%= icon('fas', 'subway') %>
<%= icon('fas', 'bus') %>
<%= icon('fas', 'ship') %> -->
