<div class="row">
  <div class="col-md-6">
    <h3><%= @trip.name %></h3>
    <p>
      <%= (@trip.start_date).strftime("Start date: %d/%m/%Y") %> </br>
      <%= (@trip.end_date).strftime("End date: %d/%m/%Y") %>
    </p>
    <%= link_to 'Edit', edit_trip_path(@trip) %> |
    <%= link_to 'Delete', @trip, method: :delete %> |
    <%= link_to 'Back', trips_path %>
  </div>
  <div class="col-md-6">
    <h4>Invite User</h4>
      <%= simple_form_for [@trip, UserTrip.new] do |f| %>
        <%= f. input :email, placeholder: 'user@domain.com', required: true %>
        <%= f.button :submit, "Invite", class: "btn btn-info" %>
      <% end %>

    <h4>Users</h4>
      <% @trip.users.each do |user| %>
        <div><%= user.email %></div>
      <% end %>
  </div>
  <!--Add there places and rest usefull informations.-->
  <div class="col-md-12">
    <%= link_to 'Add new place', new_trip_place_path(@trip), class: "btn btn-success btn-lg" %>

    <%#= link_to new_trip_place_path(@trip) do %>
        <%#= icon('fas', 'fa-map-marked-alt', 'Add new place') %>
    <%# end %>
  </div>
</div>