<div class="row">
  <div class="col-md-6">
    <h3><%= @trip.name %></h3>
    <p>
      <%= (@trip.start_date).strftime("Start date: %d/%m/%Y") %> </br>
      <%= (@trip.end_date).strftime("End date: %d/%m/%Y") %>
    </p>
    <%= link_to 'Edit', edit_trip_path(@trip) %> |
    <%= link_to 'Delete', @trip, method: :delete %> |
    <%= link_to 'Back', trips_path %>
  </div>
  <div class="col-md-6">
    <h4>Invite User</h4>
      <%= simple_form_for [@trip, UserTrip.new] do |f| %>
        <%= f. input :email, placeholder: 'user@domain.com', required: true %>
        <%= f.button :submit, "Invite", class: "btn btn-info" %>
      <% end %>

    <h4>Users</h4>
      <% @trip.users.each do |user| %>
        <div><%= user.email %></div>
      <% end %>
  </div>
</div>
<!--Add there places and rest usefull informations.-->
<div class="row">
    <div class="col-md-4">
      <div class="card mb-4" >
        <%= link_to new_trip_place_path(@trip), class: "btn btn-success btn-block add-trip" do %>
          <div class="card-body add-trip-text">
            Add new place
          </div>
        <% end %>
      </div>
    </div>
    <% @trip.places.order("start_date asc").each do |place| %>
      <div class="col-md-4">
        <div class="card mb-4" >
          <%= link_to trip_place_path(@trip, place) do %>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                  <h3 class="card-title"><%= place.name %></h3>
                  <span class="text"><%= (place.start_date).strftime("%d/%m/%Y") %> ---
                  <%= (place.end_date).strftime("%d/%m/%Y") %></span>
                  </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
</div>