<h2>Add a destination</h2>
<%= simple_form_for @place, url: trip_places_path do |p| %>
    <%= p.input :name %>
    <%= p.input :country, priority: ["AU", "NZ", "GB", "US"], label: false %>
    <%= p.input :start_date, as: :date, start_year: Date.today.year - 5,
    end_year: Date.today.year + 5 %>
    <%= p.input :end_date, as: :date, start_year: Date.today.year - 5,
      end_year: Date.today.year + 5 %>
  <%= p.button :submit %>
<% end %>
