<h2>Add a destination</h2>
<%= simple_form_for [@trip, @place] do |p| %>
    <%= p.input :name %>
    <%= p.input :country, priority: ["AU", "PL", "GB", "US"], label: false %>
    <%= p.input :start_date, as: :string, input_html: { type: :date } %>
    <%= p.input :end_date, as: :string, input_html: { type: :date } %>
  <%= p.button :submit %>
<% end %>
