<h1> All places in my trip </h1>

<p>
  <% @places.each do |place| %>
    <%= place.name %>
    <%= place.country %>
    <%= place.start_date %>
    <%= place.end_date %>
    <%= link_to 'Show place details', trip_place_path(@trip, place) %>
  <% end %>
</p>

<%= link_to 'Add place to trip', new_trip_place_path %>
