<div class="row my-4">
  <div class="col-lg-8">
    <!--img class="img-fluid rounded" src="http://placehold.it/900x400" alt=""-->
    <%= render 'maps' %>
  </div>
  <div class="col-lg-4">
    <h1>
      <%= @place.name %>,
      <%= @place.country %>
    </h1>
    <p>
      From:
      <%= place.formatted_start_date %>
    </p>
    <p>
      Until:
      <%= place.formatted_end_date %>
    </p>
    <p> Cost: <%= @place.cost %> $ </p>
    <%= link_to 'Edit', edit_trip_place_path(@trip, @place), class: 'btn btn-primary' %>
    <%= link_to 'Delete', trip_place_path(@trip, @place), method: :delete,
                                data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <%= link_to 'Back to trip', trip_path(@trip), class: 'btn btn-info' %>
  </div>
</div>

<% if transports %>
<div class="card text-white bg-secondary my-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">Transport Information</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <%= link_to new_trip_place_transport_path(@trip, @place), class: "btn btn-success btn-block add-trip" do %>
      <div class="card-body add-transport-text">
        Add new transport
      </div>
      <% end %>
    </div>
  </div>
  <% transports.each do |transport| %>
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body text-center">
        <h2 class="card-title">
          <%= transport.type_of_transport %>
        </h2>
        <p class="card-text">
          From:
          <%= transport.formatted_start_date %>
        </p>
        <p class="card-text">
          Until:
          <%= transport.formatted_end_date %>
        </p>
        <p>
          <%= "Cost: " + transport.cost.to_s if transport.cost %>
        </p>
      </div>
      <div class="card-footer text-center">
        <%= link_to 'Edit', edit_trip_place_transport_path(@trip, @place, transport), class: "btn btn-primary" %>
        <%= link_to 'Delete',
             trip_place_transport_path(@trip, @place, transport),
                         method: :delete,
                         data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% else %>
<div class="col-md-12 mb-12">
  <div class="card h-100">
    <%= link_to new_trip_place_transport_path(@trip, @place), class: "btn btn-success btn-block add-trip" do %>
    <div class="card-body add-transport-text">
      Add new transport
    </div>
    <% end %>
  </div>
</div>
<% end %>

<% if attractions %>
<div class="card text-white bg-secondary my-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">Attraction Information</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <%= link_to new_trip_place_attraction_path(@trip, @place), class: "btn btn-success btn-block add-trip" do %>
      <div class="card-body add-attraction-text">
        Add new attraction
      </div>
      <% end %>
    </div>
  </div>
  <% attractions.each do |attraction| %>
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body text-center">
        <h2 class="card-title">
          <%= attraction.name %>
        </h2>
        <p class="card-text">
          From:
          <%= attraction.formatted_start_date %>
        </p>
        <p class="card-text">
          Until:
          <%= attraction.formatted_end_date %>
        </p>
        <p>
          <%= "Cost: " + attraction.cost.to_s if attraction.cost %>
        </p>
      </div>
      <div class="card-footer text-center">
        <%= link_to 'Edit', edit_trip_place_attraction_path(@trip, @place, attraction), class: "btn btn-primary" %>
        <%= link_to 'Delete',
             trip_place_attraction_path(@trip, @place, attraction),
                         method: :delete,
                         data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>
</div>
<% else %>
<div class="col-md-12 mb-12">
  <div class="card h-100">
    <%= link_to new_trip_place_attraction_path(@trip, @place), class: "btn btn-success btn-block add-trip" do %>
    <div class="card-body add-transport-text">
      Add new attraction
    </div>
    <% end %>
  </div>
</div>
<% end %>

<% if hotels %>
<div class="card text-white bg-secondary my-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">Hotel Information</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <%= link_to new_trip_place_hotel_path(@trip, @place), class: "btn btn-success btn-block add-trip" do %>
      <div class="card-body add-transport-text">
        Add new hotel
      </div>
      <% end %>
    </div>
  </div>
  <% hotels.each do |hotel| %>
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body text-center">
        <h2 class="card-title">
          <%= hotel.name %>
        </h2>
        <p class="card-text">
          From:
          <%= hotel.formatted_start_date %>
        </p>
        <p class="card-text">
          Until:
          <%= hotel.formatted_end_date %>
        </p>
        <p>
          <%= "Cost: " + hotel.cost.to_s if hotel.cost %>
        </p>
      </div>
      <div class="card-footer text-center">
        <%= link_to 'Edit', edit_trip_place_hotel_path(@trip, @place, hotel), class: "btn btn-primary" %>
        <%= link_to 'Delete',
             trip_place_hotel_path(@trip, @place, hotel),
                         method: :delete,
                         data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>
</div>
<% else %>
<div class="col-md-12 mb-12">
  <div class="card h-100">
    <%= link_to new_trip_place_hotel_path(@trip, @place), class: "btn btn-success btn-block add-trip" do %>
    <div class="card-body add-transport-text">
      Add new hotel
    </div>
    <% end %>
  </div>
</div>
<% end %>
