<!DOCTYPE html>
<html>
  <head>
    <title>Travel Hero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <%= render 'layouts/shared/navbar' %>
    <%= render 'layouts/shared/message' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
